:root{
    --bg-light-site:"white";
    --bg-light-cont: rgb(233, 229, 229);
    --bg-dark-site:"black";
    --bg-dark-cont: rgb(38, 37, 37);
    
}


#cont{
   
    background-color:var(--bg-light-cont) ;
    margin-top: 70px;
}
div.container a img{
    width: 60px;
}
div.container i{
    transform: scale(1.6);
}
div.col-6 img{
    transform: scale(0.7);
    opacity: 0.8;
}
h2{
    line-height: 1px;
}
h3{
font-weight: 300;
font-size: 20px;

}
@keyframes minchar {
    10%{
        color: rgb(255, 0, 0);
        
       
       

    }
    100%{
        color:black;
        opacity: 0.5;
      

    }

}
@keyframes minchardark {
    10%{
        color: rgb(255, 0, 0);
        
       
       

    }
    100%{
        color:white;
        opacity: 0.5;
      

    }

}
#theme{
    cursor: pointer;
    margin-right: 20px;
    
}
.boxshadow-dark{
    box-shadow: 0px 0px 47px 8px rgb(246, 243, 243, 0.39);
}
